<footer class="mt-5 py-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About Me</h5>
                <p>I'm a student at South China University of Technology, majoring in Computer Science. I'm passionate about algorithms, game development, and machine learning.</p>
            </div>
            <div class="col-md-3">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="https://github.com/RWLinno/" target="_blank"><i class="fab fa-github"></i> GitHub</a></li>
                    <li><a href="https://blog.csdn.net/SC_Linno" target="_blank"><i class="fa fa-blog"></i> CSDN</a></li>
                    <li><a href="https://citymind.top/about-us/" target="_blank"><i class="fas fa-users"></i> CityMind</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> Email: <span class="email-text">moc.qq@2101599042</span></li>
                    <li><i class="fas fa-map-marker-alt"></i> Location: Guangzhou, China</li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0">&copy; 2024 Linno. All rights reserved.</p>
                <small>Last updated: {{ site.time | date: '%B %d, %Y' }}</small>
            </div>
        </div>
    </div>
</footer>


<!-- Lastly modified by Hanlin CAI in 2023/03/16 -->