<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">
            {{ site.data.profile.navbar_name }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% for page in site.data.navigation.pages %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page.url | relative_url }}">{{ page.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav> 